.root {
	background-color: black;
	color: white;
	box-shadow: 0 1px 7px -3px var(--color-secondary);
	border-bottom: 1px solid var(--color-secondary);
}

.links {
	display: flex;
	flex-direction: row;
}

.links a {
	display: block;
	margin-bottom: -1px;
	color: #bbb;
	padding: 0 0.5em;
	text-align: center;
	border-bottom: 2px solid transparent;
	transition:
		color var(--timing-reactive) linear,
		background-color var(--timing-reactive) linear,
		border-bottom-color var(--timing-reactive) linear;
}

.links a.active {
	border-bottom-color: var(--color-primary);
}

.links a:hover {
	color: var(--color-primary);
	background-color: white;
	border-bottom-color: var(--color-primary);
}

.left {
	display: flex;
	flex-direction: row;
}

.right {
	margin-left: auto;
	display: flex;
	flex-direction: row;
}
