@model WordSleuth.Server.Models.IndexModel
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<meta name="author" content="Jacob Buysse">
		<meta name="description" content="Word guessing puzzle game.">
		<title>Word Sleuth</title>
		@foreach (var scriptChunk in Model.ScriptChunks) {
			{<script defer src="@scriptChunk"></script>}
		}
		@foreach (var styleChunk in Model.StyleChunks) {
			{<link href="@styleChunk" rel="stylesheet" />}
		}
	</head>
	<body>
		<div id="root" data-initial-state="@Model.ToJson()"></div>
	</body>
</html>
