.header {
	display: flex;
	flex-direction: row;
}

.remainingPossibilities {
	margin-left: auto;
	font-weight: 300;
	font-size: 1.3rem;
	margin-right: 1rem;
}

.buttons {
	display: flex;
	flex-direction: row;
}

.buttons > button:first-child {
	margin-left: auto;
}

.buttons > button:not(first-child) {
	margin-left: 1rem;
}

.buttons > button:last-child {
	margin-right: auto;
}
