.root {
	display: flex;
	flex-direction: column;
}

.row {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.5rem;
	display: flex;
	flex-direction: row;
}

.key {
	cursor: pointer;
	user-select: none;
	border: 1px solid black;
	margin-left: 2px;
	margin-right: 2px;
	background-color: lightgray;
	border-radius: 4px;
	padding: 12px 8px;
	min-width: 28px;
	text-align: center;
}

.key:hover {
	background-color: lightblue;
}

.correct {
	background-color: green;
}

.wrongPosition {
	background-color: yellow;
}

.notInWord {
	background-color: darkgray;
}
