.root {
	display: flex;
	flex-direction: column;
}

.row {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0.5rem;
	display: flex;
	flex-direction: row;
}

.key {
	cursor: pointer;
	user-select: none;
	border: 1px solid black;
	margin-left: 2px;
	margin-right: 2px;
	background-color: lightgray;
	border-radius: 4px;
	padding: 12px 0;
	min-width: 28px;
	text-align: center;
}

.correct {
	background-color: green;
	color: white;
}

.wrongPosition {
	background-color: yellow;
}

.notInWord {
	background-color: darkgray;
}

.enter {
	background-color: lightblue;
	min-width: 42px;
}

.backspace {
	background-color: lightpink;
	min-width: 42px;
}

@media screen and (max-width: 342px) {
	.key {
		min-width: 20px;
	}

	.enter {
		min-width: 32px;
	}

	.backspace {
		min-width: 32px;
	}
}
