.root {
	user-select: none;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	width: 50px;
	height: 50px;
	border: 1px solid black;
	background-color: white;
	font-size: x-large;
	transition: all 150ms ease-in;
}

.letter {
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
}

.correct {
	background-color: green;
	color: white;
}

.wrongPosition {
	background-color: yellow;
}

.notInWord {
	background-color: lightgray;
}

.invalidWord {
	background-color: pink;
}
