.root {
	display: flex;
	flex-direction: row;
	margin-bottom: 0.5rem;
}

.count {
	font-weight: bold;
	margin-right: 0.5rem;
}

.games {
	background-color: #666;
	color: white;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
	text-align: right;
	border-radius: 4px;
}

.wins {
	background-color: green;
}
