.statistics {
	display: flex;
	flex-direction: row;
}

.statistics > *:first-child {
	margin-left: auto;
}

.statistics > *:last-child {
	margin-right: auto;
}

.distribution {
	display: flex;
	flex-direction: column;
	align-items: center;
}
